
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>Index</h2>

@*<table class="table table-hover">
    <tr>
        <td>

        </td>
    </tr></table>*@
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope=row>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>xxx1</td>
        </tr>
        <tr>
            <th scope=row>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>xxx2</td>
        </tr>
        <tr>
            <th scope=row>3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>xxx3</td>
        </tr>
    </tbody>
</table>


